{% extends 'base.html' %} 
{% block title %}Sign Up{% endblock %} 
{% block main%} 

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul style="padding: 0; margin: 0">
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<div>
    <h1>Create a new account</h1>
    <form action="{{ url_for('signup') }}" method="POST" novalidate>
        {{form.hidden_tag()}}
        <div class="form-group">
          {{ form.id.label }}<br/>
          {{ form.id(size=15, class="form-control",style="text-transform: lowercase;") }}
          {% if form.id.errors %} {% for error in form.id.errors %}
          <span class="form-error">{{ error }}</span>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.name.label }}<br/>
          {{ form.name(size=30, class="form-control") }}
          {% if form.name.errors %} {% for error in form.name.errors %}
          <span class="form-error">{{ error }}</span>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.passwd.label }} <br/>
          {{ form.passwd(size=30, class="form-control") }}
          {% if form.passwd.errors %} {% for error in form.passwd.errors %}
          <span class="form-error">{{ error }}</span>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.passwd_confirm.label }}<br/>
          {{ form.passwd_confirm(size=30, class="form-control") }}
          {% if form.passwd_confirm.errors %} {% for error in form.passwd_confirm.errors %}
          <span class="form-error">{{ error }}</span>
          {% endfor %} {% endif %}
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
          <a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>
        </div>
    </form>
    <div class="signup-link">
      <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
    </div>
</div>
{% endblock %}
